---
layout: default
title: Image Gallery
---

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  /*color: #f2f2f2;*/
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>

<div class="row">

{% for gallery in site.data.image_gallery %}

<div class="col-sm-4">
	<div class="container img-thumbnail" id="{{ gallery.id }}">
		{% for image in gallery.images %}
		<div class="mySlides">
			<div class="numbertext w3-black">{{ image.caption }}</div>
			<img src="{{ image.url }}" style="width: 100%">
		</div>
		{% endfor %}
		<a class="prev" onclick="plusSlides('{{ gallery.id }}', -1)">❮</a>
		<a class="next" onclick="plusSlides('{{ gallery.id }}', 1)">❯</a>

		<div class="caption-container">
			<p id="caption">{{ gallery.caption }}</p>
		</div>
	</div>
</div>
{% endfor %}
</div>

<script>
var all_gallery = document.getElementsByClassName("container");
var all_slideIndex = new Array(all_gallery.length).fill(1);

var slideIndex = 1;
var gallery_id;

for (gallery_id=0; gallery_id < all_gallery.length; gallery_id++) {
	showSlides(gallery_id, all_slideIndex[gallery_id])
}


function plusSlides(gallery_id, n) {
  var index;
  var i;
  for (i=0; i < all_gallery.length; i++) {
  	if (all_gallery[i].id == gallery_id) {
  		index = i;
  		break;
  	}
  }
  all_slideIndex[index] += n;
  showSlides(index, all_slideIndex[index]);
}

function showSlides(gallery_id, n) {
  var i;
  var slides = all_gallery[gallery_id].getElementsByClassName("mySlides");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {all_slideIndex[gallery_id] = 1}
  if (n < 1) {all_slideIndex[gallery_id] = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[all_slideIndex[gallery_id]-1].style.display = "block";
}
</script>