---
layout: default
title: Research
---
<h2>Selected Publication. Please go to my <a href="/all_papers">List of All papers</a> for a detailed list.</h2><hr>

<ul>
  {% for paper in site.data.selected_papers_list %}
    <li style="margin-bottom: 17px;">
      <b> {{ paper.title }} </b><br>
      {{ paper.authors }} <br>
      <b> Venue: {{ paper.venue}} </b><br>
      {% if paper.pdf != "" %} [<a href="{{ paper.pdf }}">pdf</a>] {% endif %}
      {% if paper.url != "" %} [<a href="{{ paper.url }}">URL</a>] {% endif %}
      {% if paper.code != "" %} [<a href="{{ paper.code }}">code</a>] {% endif %}
      {% if paper.slides != "" %} [<a href="{{ paper.slides }}">slides</a>] {% endif %}
      {% if paper.video != "" %} [<a href="{{ paper.video }}">video</a>] {% endif %} <br>
    </li>
  {% endfor %}
</ul>
* equal contribution

<h2>Teaching</h2><hr>

<ul>
        <li>EEE1032 Mathematics II: Engineering Maths (Teaching Assistant 21'), University of Surrey</li>
</ul>

<h2>Volunteer</h2><hr>
<ul>
        <li>Reviewer for IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR)</li>
	<li>Reviewer for International Conference on Computer Vision (ICCV)</li>
	<li>Reviewer for European Conference on Computer Vision (ECCV)</li>
	<li>Reviewer for IEEE Transaction on Multimedia</li>
	<li>Reviewer for Computers & Graphics</li>
	<li>Reviewer for Pattern Recognition (PR)</li>
	<li>Reviewer for Pattern Recognition Letters (PRL)</li>
	<li>Reviewer for International Conference on Pattern Recognition (ICPR)</li>
	<li>Reviewer for Machine Intelligence Research (MIR)</li>
</ul>


<h2>Research Experience</h2><hr>
<style>
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
{% for exp in site.data.research_experience %}
<div class="row">
	<div class="col-sm-1"><img src="{{ exp.image }}", alt="Organization Logo", style="width: 100%;"></div>
    <div class="col-sm-11">
    	<b>{{ exp.organization }}</b><br>
    	<i>Supervisor: {{ exp.supervisor }}</i><br>
    	Position: {{ exp.job_title }}<br>
    	{{ exp.duration }}
    </div>
</div>
{% endfor %}

